<?php echo $this->doctype('XHTML1_STRICT'); ?>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<?php

$this->headMeta()->appendName('keywords', $this->configVar('metaKeywords'))
                 ->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8')
                 ->appendHttpEquiv('Content-Language', 'en-US')
                 ->appendName('viewport', 'width=device-width, initial-scale=1.0');             

                 
echo $this->headMeta() . "\n";
$this->headTitle($this->configVar('appTitle'))
     ->headTitle(strip_tags($this->title))
     ->headTitle()->setSeparator(' - ');

echo "\n";

echo $this->headTitle() . "\n\n";

echo $this->headLink() . "\n\n";

echo $this->headScript() . "\n";

echo '<link rel="shortcut icon" href="' . $this->serverUrl().$this->baseUrl() . '/public/favicon.ico" />' . "\n";

echo "\n";
?>

</head>
<body>
    <ul id="uncgAccessNav">
    	<li><a href="#startcontent">Skip to Main Content</a></li>
    </ul>
    <div id="container">
        <div id="header-wrapper">
            <div id="header">
                <?php include_once(APPLICATION_PATH . '/../incuncg/heading.htm'); ?>
            </div> 
        </div>
        <div id="content-wrapper">
            <input type="hidden" name="baseUrl" id="baseUrl" value="<?php echo $this->baseUrl(); ?>" />

<div class="navbar navbar-inverse ">

                        <div class="navbar-inner">
                            <div class="container">
                                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="brand" href="<?php echo $this->serverUrl().$this->baseUrl(); ?>"><?php echo $this->configVar('appTitle'); ?></a>

                                <div class="nav-collapse collapse">
                                    <p class="navbar-text pull-right">
                                        <?php echo $this->render('auth.phtml'); ?>
                                    </p>

                                    <?php echo $this->navigation()->menu()->setOnlyActiveBranch(false)->setRenderParents(false)->setPartial('bootstrap-nav.phtml'); ?>          
                                </div>
                            </div>
                        </div>
                    </div>

            <div id="content">
                <div id="wrap">
                    

                    <div class="container">

                        <?php
                        $_messageLevelMap = array(
                            'error' => 'error',
                            'info' => 'info',
                            'warning' => 'block',
                            'success' => 'success',
                        );
                        ?>
                        <?php foreach ($this->messages() as $m): ?>
                            <div class="alert alert-<?php echo (isset($_messageLevelMap[$m['level']])) ? $_messageLevelMap[$m['level']] : 'info'; ?>"><?php echo $this->translate($m['message']); ?></div>
                        <?php endforeach; ?>

                        <h2><?php echo $this->title; ?></h2>
                        <?php echo $this->layout()->content; ?>

                    </div>  
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="footer-content">
                <div id="footer-left">
                    <a href="http://its.uncg.edu">Information Technology Services</a><br>
                    <strong>The University of North Carolina at Greensboro</strong><br>
                    <strong>Location:</strong> 1400 Spring Garden Street Greensboro, NC 27403<br>
                    <strong>Mailing Address:</strong> PO Box 26170, Greensboro, NC 27402-6170<br>
                    <strong>Telephone:</strong> 336.334.5000<br>
                    <strong>Technical Support:</strong> 336.256.TECH (8324)<br>
                    <a href="http://its.uncg.edu/Comments/">Comments about this site?</a><br>
                    <p>
                        Copyright &copy; 2013. The University of North Carolina at Greensboro. All rights reserved.
                    </p>         
                </div>
                <div id="footer-right">
                    <?php include_once(APPLICATION_PATH . '/../incuncg/footer.htm'); ?>
                </div>
            </div>


        </div>
        <div id="shadow-bottom">&nbsp;</div>
    </div>
</body>



<div id="logoutModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="logoutModalLabel">Logout?</h3>
    </div>
    <div class="modal-body">
        <p><?php echo $this->translate('theme-scripts-auth:sureLogOut'); ?></p>
    </div>
    <div class="modal-footer">
        <form style="margin: 0;" method="post" action="<?php echo $this->url(array('action' => 'logout'), 'login', true); ?>">
            <input type="submit" name="submit" value="Logout" class="btn btn-danger" />
            <input type="button" name="cancel" value="Cancel" class="btn" data-dismiss="modal" />
        </form>
    </div>
</div>
    
<?php echo $this->overrideTranslation()->editModal(); ?>
    
</html>

