@charset "UTF-8";/* Version 1.6 To view an uncompressed version of this file, please visit: http://ioc.uncg.edu/incuncg/ */
.clear {
	clear:both;
	height:0;
	font-size:1px;
	line-height:0
}
a img {
	border:0
}
a:link, a:visited {
	color:#039
}
a:hover, a:active, a:focus {
	color:#036
}
body {
	font-family:Arial, Helvetica, sans-serif;
	background:#42413c;
	margin:0;
	padding:0;
	background-color:#ededed;
	background-image:url(/incuncg/images/background.jpg);
	background-repeat:repeat-x;
	background-position:left top
}
#header ul, #header ol, #header dl, #footer ul, #footer ol, #footer dl {
	padding:0;
	margin:0
}
#container {
	width:990px;
	margin:0 auto
}
#header-wrapper {
	margin-left:27px
}
#content-wrapper {
	width:960px;
	padding:0 27px;
	float:left;
	background-image:url(/incuncg/images/bkgd-shadow.png);
	background-repeat:repeat-y
}
#content {
	background-color:#fff;
	font-size:.75em;
	color:#333;
	line-height:1.7
}
#uncgAccessNav, .hidden {
	position:absolute;
	left:-2000px
}
#header {
	background:#036;
	background-image:url(/incuncg/images/bkgd-header.jpg);
	height:148px;
	float:left
}
#header-content {
	width:960px;
	float:left
}
#header-top {
	padding:12px 0 7px 0;
	width:960px;
	float:left
}
#header-left {
	padding:0;
	width:320px;
	float:left;
	margin-top:8px
}
#header-left a {
	display:block;
	width:313px;
	height:82px;
	overflow:hidden;
	text-indent:-9999px;
	background-image:url(/incuncg/images/logo-uncg.png);
	background-repeat:no-repeat
}
#header-right {
	width:570px;
	float:right
}
#header-bottom {
	float:left;
	border-bottom:15px solid #FC0;
	margin-top:2px
}
#header-audience-nav {
	float:right;
	clear:both;
	width:550px;
	margin-top:8px
}
#header-audience-nav ul li a {
	border-right:1px dotted #fff;
	padding:0 10px 0 10px
}
#header-audience-nav .noBorder a {
	border-right:0;
	padding-right:0
}
#header-extras {
	float:right
}
#header-audience-nav ul {
	font-size:12px;
	float:right
}
#navlist-audience li {
	float:left;
	display:inline;
	list-style-type:none
}
#navlist-audience li a {
	color:#FFF;
	text-decoration:none
}
#navlist-audience li a:hover {
	color:#ccc;
	text-decoration:underline
}
#header-yellow-nav {
	width:960px
}
#cl a {
	font-size:12px
}
#header-yellow-nav ul {
	padding:0
}
#header-yellow-nav ul li {
	list-style-type:none
}
#cl {
	padding-top:9px
}
#cl li {
	list-style-type:none;
	font-size:11px
}
#navlist-yellow li a:hover {
	color:#fff
}
#header-yellow-nav .noBorder a {
	padding-right:0;
	padding-bottom:4px
}
li#cl {
	background-image:url(/incuncg/images/arrow-yellow.png);
	background-repeat:no-repeat;
	background-position:59px 11px;
	text-align:right;
	width:162px;
	float:right
}
li#cl a {
	color:#fc0;
	text-decoration:none;
	font-weight:bold;
	display:block
}
li#cl ul li a {
	display:block;
	font-weight:normal
}
#navlist-yellow ul li a {
	color:#666
}
#navlist-yellow ul li a:hover {
	color:#333
}
#navlist-yellow ul {
	position:absolute;
	top:-999em;
	width:0;
	padding:0
}
#header-yellow-nav ul ul {
	padding:3px 10px;
	margin:0;
	border:0;
	height:auto;
	width:142px;
	background-color:#eaeaea;
	-ms-filter:"alpha(opacity=95)";
	filter:alpha(opacity=95);
	opacity:.95;
	border-right:0 solid #fff
}
#navlist-yellow ul li {
	width:100%
}
#navlist-yellow li:hover {
	visibility:inherit
}
#navlist-yellow>li {
	position:relative;
	z-index:701
}
#navlist-yellow li:hover ul, #navlist-yellow li.sfHover ul {
	left:0;
	top:28px;
	z-index:99
}
ul.subitems li {
	background-color:transparent;
	padding:0;
	height:auto;
	margin:0
}
#cl ul.subitems li a {
	background-color:transparent;
	border-bottom:1px solid #999;
	text-align:left;
	padding:3px 2px;
	margin:0
}
#cl ul.subitems a:hover {
	background-color:#fff;
	-ms-filter:"alpha(opacity=95)";
	filter:alpha(opacity=95);
	opacity:.95
}
#tools-nav {
	float:left;
	margin-right:20px
}
#tools-nav ul {
	float:left;
	margin-top:3px
}
#navlist-tools li {
	float:left;
	display:inline;
	list-style-type:none;
	margin:2px
}
#tools-nav ul li a {
	padding:2px 5px
}
#footer {
	padding:0 0 10px 27px;
	float:left;
	width:980px;
	min-height:91px;
	background-image:url(/incuncg/images/bkgd-shadow.png);
	background-repeat:repeat-y
}
#footer-content {
	border-top:3px solid #FC0;
	width:960px
}
#footer-left {
	font-size:10px;
	color:#666;
	float:left;
	margin-top:13px;
	margin-left:20px
}
#footer-left p {
	margin-top:0
}
#footer-left dl {
	margin-bottom:10px
}
#footer-left dd {
	margin-left:0
}
#footer-right {
	float:right
}
#footer-nav ul {
	font-size:10px;
	height:49px
}
#navlist-footer li {
	float:left;
	display:inline;
	list-style-type:none;
	margin:3px
}
#navlist-footer li a {
	color:#036;
	text-decoration:none;
	float:left
}
#navlist-footer a:hover {
	text-decoration:underline
}
#footer-nav ul li a {
	padding:0 10px
}
#footer-nav .li-box a {
	border-right:1px dotted #036;
	margin-top:10px;
	height:14px
}
#footer-nav .noBorder a {
	border-right:0
}
#shadow-bottom {
	float:left;
	background-image:url(/incuncg/images/bkgd-shadow-bottom.png);
	background-repeat:no-repeat;
	background-position:left top;
	width:1010px;
	height:25px
}
#uncgSearch {
	float:left;
	height:43px;
	width:193px;
	padding:3px 0 5px;
	border:0
}
#q {
	border:1px solid #999;
	color:#888;
	font-size:12px;
	padding:1px 0 0 3px;
	height:17px;
	width:159px
}
@-moz-document url-prefix() {
	#q {
		padding-top:2px
	}
}
#searchSub {
	width:21px;
	height:20px;
	text-indent:-999px;
	overflow:hidden;
	text-transform:uppercase;
	border:0;
	cursor:pointer;
	background-image:url(/incuncg/images/but-submit-search.jpg);
	background-repeat:no-repeat
}
#uncgSearch label {
	color:#ddd;
	cursor:pointer;
	font-size:11px;
	padding-right:10px;
	white-space:nowrap
}
#searchInContainer {
	width:141px;
	padding:2px 0 0 1px;
	margin:0
}
#searchInContainer input {
	padding:0;
	margin:0
}
h1, h2, h3, h4, h5, h6 {
	font-family:Georgia, 'Times New Roman', serif;
	color:#036
}
h1 {
	font-weight:400;
	font-size:1.9em
}
h2 {
	font-size:1.65em;
	line-height:1.4;
	font-weight:400
}
h3 {
	font-size:1.35em;
	line-height:1.2;
	margin:0 0 16px
}
h4 {
	font-size:1.25em;
	line-height:1.333;
	margin:0 0 16px
}
h5 {
	font-size:1.25em;
	font-weight:normal;
	line-height:1.333;
	margin:0 0 16px
}
h6 {
	font-size:1.25em;
	font-weight:normal;
	font-style:italic;
	line-height:1.2;
	margin:0 0 16px
}
#content>p, #content>table, #content>ul, #content>ol, #content>dl {
	margin-top:0;
	margin-bottom:14px
}
#google_translate_element {
	padding-right: 15px;
	text-align: right;
}
