@charset "UTF-8";/* Version 1.5.4 To view an uncompressed version of this file, please visit: http://ioc.uncg.edu/incuncg/ */

#unit-horizontal {
	background:url(/incuncg/images/horz.nav.png) 0 0 repeat-x;
	height:34px
}

#unit-horizontal ul {
	margin:0;
	padding:0
}

#unit-horizontal ul li {
	float:left;
	position:relative;
	z-index:501;
	list-style:none;
	margin:0;
	padding:0;
	background-color:transparent;
	width:auto
}

#unit-horizontal ul li a {
	height:22px;
	display:block;
	text-decoration:none;
	padding:8px 20px 0;
	overflow:hidden;
	border-right:1px solid #fff;
	font:bold .8em/1 Arial, Helvetica, sans-serif
}

#unit-horizontal ul li:hover { background:url(/incuncg/images/horz.nav.hov.png) 0 0 repeat-x }

div#unit-horizontal ul li a:link, div#unit-horizontal ul li a:visited { color:#036 }

div#unit-horizontal ul li a:hover, div#unit-horizontal ul li a:active { color:#04369a }

#unit-horizontal ul ul {
	display:none;
}

#unit-horizontal ul li:hover ul {
	background-color:#eaeaea;
	border-left:1px solid #eaeaea;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin:0;
	padding:2px 3px 3px;
	width:auto;
	box-shadow:0 0 4px #999;
	position:absolute;
	top:30px;
	display:block
}

#unit-horizontal ul ul li { background-color:transparent }

#unit-horizontal ul ul li a {
	border-bottom:1px solid #999;
	border-right:none;
	line-height:1!important;
	height:auto;
	width:171px;
	background-color:transparent;
	font-weight:normal;
	padding:5px 2px;
	font-size:.75em
}

#unit-horizontal ul ul li:hover { background-image:none }

#unit-horizontal ul ul li a:hover {
	background-image:none;
	background-color:#fff!important
}

.submenu {
	background:url(/incuncg/images/altDD.gif) 94% 35% no-repeat;
	padding-right:6px
}

#unit-head {
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0 0 14px;
	padding:19px 20px 14px;
	border-bottom:1px solid #ccc
}

#unit-head h1 {
	line-height:1;
	margin:0;
	padding:1px 0 8px
}

#unit-head h2 {
	font-size:1.15em;
	line-height:1;
	font-weight:normal;
	margin:0;
	padding-left:1px
}

#content {
	padding-right:20px;
	padding-left:20px
}

div.content-three-column {
	float:left;
	margin-left:244px;
	width:496px;
	padding:0!important
}

div.content-left-column {
	min-width:696px;
	float:left;
	margin-left:244px;
	padding-left:0!important
}

div.content-page-sidebar {
	float:left;
	padding-right:0!important;
	width:720px
}

#unit-sidebar { background:url("/incuncg/images/right-back.png") repeat-y scroll 100% 0 transparent }

#unit-left-menu {
	float:left;
	margin:13px 0 5px -722px;
	width:200px;
	font-size:.75em
}

div.content-left-column+div#unit-left-menu { margin-left:-942px }

#unit-left-menu ul {
	margin:0 0 10px 0;
	padding:0
}

div.content-page-sidebar+div#unit-right-sidebar { float:left }

#unit-left-menu ul>li {
	border-bottom:1px solid #ccc;
	color:#666;
	font-weight:normal;
	line-height:1;
	list-style:none outside none;
	margin-left:0;
	padding-left:4px
}

#unit-left-menu li a{ display:block;padding:9px 0 }

#unit-left-menu li a:link, #unit-left-menu li a:visited, #unit-horizontal ul ul li a:link, #unit-horizontal ul ul li a:visited {
	text-decoration:none;
	color:#666
}

#unit-left-menu li a:hover, #unit-left-menu li a:active, #unit-horizontal ul ul li a:hover, #unit-horizontal ul ul li a:active {color:#000 }

#unit-left-menu li a:hover, #unit-left-menu li a:active { text-decoration:underline }

#unit-left-menu>ul ul { margin-left:10px }

#unit-left-menu ul li.DD {
	background:url("/incuncg/images/altDD.gif") no-repeat scroll 97% 8px transparent;
	padding-right:9px
}

#unit-left-menu ul li.DD ul {
	display:none;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-top:1px solid #eaeaea;
	box-shadow:0 0 4px #999;
	padding:2px 3px 3px
}

#unit-left-menu ul li.DD:hover ul {
	display:block;
	margin-left:47px;
	margin-top:-5px;
	padding:2px;
	position:absolute;
	width:213px;
	background-color:#eaeaea
}

#unit-left-menu li li {
	border-bottom:medium none;
	color:#999;
	list-style-type:square;
	margin-left:10px
}

#unit-left-menu li li a{ padding:5px 2px }

#unit-left-menu li.DD li a { padding:5px 2px }

#unit-left-menu li.DD li a:hover, #unit-left-menu li.DD li a:active { text-decoration:none }

#unit-left-menu ul li.DD:hover ul li {
	list-style:none;
	border-bottom:1px solid #999;
	padding:0;
	margin:0 .3em
}

#unit-left-menu ul li.DD:hover ul li:hover,#unit-left-menu ul li.DD:hover ul li:active { background-color:#fff }

#unit-head {
	margin-bottom:0;
	background-color:#fff
}

#three-col-sidebar {
	width:171px;
	float:right;
	margin-left:19px;
	padding:10px 15px;
	font-size:.7em
}

div#three-col-sidebar .right-col-heading {
	border-bottom:1px solid #ccc;
	color:#036;
	font-family:Georgia, "Times New Roman", serif;
	font-size:17px;
	font-weight:normal;
	margin:0 0 9px;
	padding:0 0 8px
}

#three-col-sidebar div .right-col-header, #unit-left-menu div .left-nav-header {
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:11px;
	font-size:12px
}

#unit-left-menu div .left-nav-header {
	margin-bottom:3px;
	font-weight:700
}

#three-col-sidebar li a:link, #three-col-sidebar li a:visited {
	color:#666;
	text-decoration:none
}

#three-col-sidebar li a:hover, #three-col-sidebar li a:active {
	text-decoration:underline;
	color:#000
}

#three-col-sidebar ul {
	margin:10px 0 18px;
	padding:0 3px 0 19px;
	color:#999
}

#three-col-sidebar ul ul {
	margin:0 0 0 10px;
	padding:5px 0
}

#three-col-sidebar li li { list-style-type:square }

#three-col-sidebar div, #unit-left-menu div {
	border-bottom:1px solid #ccc;
	margin:0 0 9px
}

#three-col-sidebar p, #unit-left-menu p {
	margin:0 auto 11px auto;
	color:#666
}
