@charset "UTF-8";

/* Version 1.5.2 To view an uncompressed version of this file, please visit: http://ioc.uncg.edu/incuncg/ */
body { background:none }

#container {
	margin:0;
	width:99%
}

#header-wrapper {
	margin:0;
	border-bottom:1px solid #ccc
}

#header-content {
	width:inherit;
	float:none
}

#header {
	background:none;
	height:21px;
	float:none
}

#header-left {
	width:auto;
	margin:0
}
#unit-sidebar{background:none;}
#content h1, h2, h3, h4, h5 { margin:5px 0 11px 0 }

#content h1 { font-size:1.2em }

#content h2 { font-size:1.2em }

h3, h4, h5 { font-size:1em }

#content p, #content ul { margin:0 0 9px 0 }

div#header-left a {
	background:none;
	display:inline;
	width:auto;
	height:auto;
	text-indent:0
}

div#header-left a:link {
	color:#000;
	text-decoration:none;
	font-size:.9em
}

#header-top {
	width:auto;
	padding:0
}

#unit-head{margin:0;padding:5px 0;font-size:.8em;}
#footer {
	background:none;
	float:none;
	padding:0;
	width:99%
}
	
#footer-content {
	background:none;
	width:98%;
	border-top:1px solid #ccc
}
#footer-left{margin-left:5px;}

#content-wrapper {
	background:none;
	padding:0;
	float:none;
	width:auto
}

div#content {
	width:99% !important;
	margin:0 !important;
	padding:0 !important
}

#header-right,#header-bottom,#footer-right,#shadow-bottom,div#unit-horizontal,#unit-left-menu,#unit-right-sidebar { display:none }