.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

body {
    background-color: #EFEFEF;
}


/* Wrapper for page content to push down footer */
#wrap {
    background-color: #FFFFFF;
    min-height: 400px;
}

#footer {
    /* line-height:20px; */
}

#footer-left a {
    display: block;
}

a#overrideTranslationLink {
    float: right;
}

#header li 
{
    line-height: 13px;
}

form
{
    margin:0;
}

#q
{
    margin-bottom: 0;
    border-radius: 0;
}

.container {
    width: 100%;
}

#content
{
    font-size:1em;
}

#uncgSearch
{
    background:none;
}

#linkSearchForm
{
    padding:20px 8px 0;
}

.google-te-combo
{
    border-radius:0;
    
}