.navbar {   
    background-color: #036 !important;
    height: auto;
    border: none !important;
}
.navbar .uncg-header-background {
    background-image: url(../images/bkgd-header.jpg) !important;
    background-repeat: no-repeat;
    height: 108px;
}
.navbar-inner {
    background-image: none !important;
    background-color: #CCC !important;
    border:0;
    border-bottom:2px solid #003366;
    border-radius: 0;
}

.navbar-text {
    font-size: 12px;
    text-transform: uppercase;
    color: #036 !important;
}

.navbar-inner a {
    color: #036 !important;
    text-shadow: none !important;
    text-transform: uppercase;
    font-size: 12px;
}
.navbar-inner a:hover {
    color: #FFF !important;
}
.uncg-header-logo {
    margin-top: 20px;
    height: 82px;
    width: 313px;
    background-image: url(../images/logo-uncg.png) !important;
    background-repeat: no-repeat;
    float: left;
}
.uncg-header-logo a {
    display: none;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #ffffff;
  background-color: #FC0 !important;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    background-color: #CCC !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus  {
    color: #000000 !important;
    background-color: #CCC !important;
    background-image: none !important;
    
}

.dropdown-menu, .dropdown-submenu.pull-left > .dropdown-menu,
.dropup .dropdown-submenu > .dropdown-menu,
.dropdown-submenu > .dropdown-menu {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.dropdown.open {
    background-color: #CCC !important;
    color: #FFF !important;
}
.dropdown.open .dropdown-toggle {
    background-color: #777 !important;
    color: #FFF !important;
}
