    <!-- Footer Version 1.6 -->
    <div id="footer-nav">
      <ul id="navlist-footer">
        <li class="li-box"><a href="http://ioc.uncg.edu/policies/"
          >Web Standards &amp; Policies</a></li>
        <li class="li-box noBorder"><a 
          href="http://spartanalert.uncg.edu/">Emergency Info</a></li>
        <li class="img-connect"><a href="http://connect.uncg.edu/"
          class="noBorder" title="UNCG Connect Social Media Hub" ><img 
          src="//ioc.uncg.edu/incuncg/images/connect_03.jpg" width="143" height="41" 
          alt="UNCG Connect Social Media Hub" /></a></li>
      </ul>
      <div id="google_translate_element"></div>
    </div>
    <?php echo $this->overrideTranslation()->editLink($this->translate('theme-layouts-layout:editText')); ?>