<!--Secondary Heading Version 2.1.0 -->

<div id="header-content">
   <div id="header-top">
      <h1 id="header-left"><a href="http://www.uncg.edu/" title="The University of North Carolina at Greensboro">The University of North Carolina at Greensboro</a></h1>
      <div id="header-right">
         <div id="header-extras">
               <div id="tools-nav">
                  <ul id="navlist-tools">
                     <li><a href="http://ispartan.uncg.edu/" title="iSpartan Email Services"><img src="/incuncg/images/icon-iSpartan.png"
                      width="19" height="19" alt="iSpartan Email Services" /></a></li>
                     <li><a href="https://banweb.uncg.edu/" title="UNCGenie System"><img src="/incuncg/images/icon-uncgenie.png"
                      width="20" height="20" alt="UNCGenie System" /></a></li>
                     <li><a href="https://blackboard.uncg.edu/" title="Blackboard @ UNCG" class="noBorder"><img src="/incuncg/images/icon-blackboard.png"
                      width="27" height="21" alt="Blackboard @ UNCG" /></a></li>
                  </ul>
            </div>
            <form id="uncgSearch" action="http://search.uncg.edu/search" method="get"><div>
               <label class="hidden" for="q">Search UNCG</label>
               <input id="q" name="q" type="text" value="Search UNCG" title="Search UNCG's web site with Google" />
               <input id="searchSub" type="submit" value="Submit" title="Search" />
               <input name="site" type="hidden" value="default_collection" />
               <input name="client" value="default_frontend" type="hidden" />
               <input name="output" value="xml_no_dtd" type="hidden" />
               <input name="proxystylesheet" value="default_frontend" type="hidden" />
               </div>
            </form>
         </div>
         <div id="header-audience-nav">
            <ul id="navlist-audience">
               <li><a href="http://www.uncg.edu/prospective-students/">Prospective Students</a></li>
               <li><a href="http://www.uncg.edu/current-students/">Current Students</a></li>
               <li><a href="http://www.uncg.edu/faculty-staff/">Faculty &amp; Staff</a></li>
               <li><a href="http://alumni.uncg.edu/">Alumni</a></li>
               <li class="noBorder"><a href="http://communityengagement.uncg.edu/">Community &amp; Friends</a></li>
            </ul>
         </div>
      </div>
   </div>
</div>
<div id="header-bottom">
   <div id="header-yellow-nav">
      <ul id="navlist-yellow">
         <li class="yellow-nav-administration"><a href="http://www.uncg.edu/administration/">ADMINISTRATION</a></li>
         <li class="yellow-nav-academics"><a href="http://www.uncg.edu/academics/">ACADEMICS</a></li>
         <li class="yellow-nav-research"><a href="http://research.uncg.edu/">RESEARCH</a></li>
         <li class="yellow-nav-admissions"><a href="http://www.uncg.edu/admissions/">ADMISSIONS</a></li>
         <li class="yellow-nav-arts"><a href="http://www.uncg.edu/arts-entertainment/">ARTS</a></li>
         <li class="yellow-nav-global"><a href="http://www.uncg.edu/ipg/">GLOBAL</a></li>
         <li class="yellow-nav-athletics"><a href="http://uncgspartans.com/">ATHLETICS</a></li>
         <li class="yellow-nav-giving"><a href="http://giving.uncg.edu/">GIVING</a></li>
         <li id="cl" class="noBorder current"><a id="campusLinks" href="http://www.uncg.edu/campus-links/">CAMPUS LINKS</a>
            <ul class="subitems">
               <li><a href="http://www.uncg.edu/inside-uncg/" title="Learn About UNCG">Inside <abbr title="The University of North Carolina at Greensboro">UNCG</abbr></a></li>
               <li><a href="http://www.uncg.edu/academics/">Academics</a></li>
               <li><a href="http://www.uncg.edu/administration/">Administration</a></li>
               <li><a href="http://www.uncg.edu/admissions/">Admissions</a></li>
               <li><a href="http://www.uncg.edu/arts-entertainment/">Arts &amp; Entertainment</a></li>
               <li><a href="http://www.uncg.edu/employment/">Employment</a></li>
               <li><a href="http://oedi.uncg.edu/">Equity, Diversity  &amp; Inclusion</a> </li>
               <li><a href="http://giving.uncg.edu">Giving to UNCG</a></li>
               <li><a href="http://www.uncg.edu/ipg/" title="International Programs">International Programs</a></li>
               <li><a href="http://library.uncg.edu/" title="Jackson Library">Libraries</a></li>
               <li><a href="http://online.uncg.edu/" title="Online Courses &amp; Degrees">Online Courses &amp; Degrees</a></li>
               <li><a href="http://research.uncg.edu/">Research</a></li>
               <li><a href="http://its.uncg.edu/">Technology</a></li>
               <li><a href="http://newsandfeatures.uncg.edu/">University News</a></li>
            </ul>
         </li>
      </ul>
   </div>
</div>